<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.binyu.rbac.daos.ResourcePermissionMapper">
	<select id="getResourcePermissionsByUser" resultMap="ResourcePermissionMap">
		SELECT RESOURCE.NAME AS RESOURCE_NAME,PERMISSION
		FROM ROLE_PERMISSION
		INNER JOIN ROLE ON ROLE.ID=ROLE_PERMISSION.ROLE_ID
		INNER JOIN RESOURCE ON RESOURCE.ID=ROLE_PERMISSION.RESOURCE_ID
		INNER JOIN USER_ROLE ON USER_ROLE.ROLE_ID=ROLE.ID
		INNER JOIN USER ON USER.ID=USER_ROLE.USER_ID
		WHERE USER.NAME=#{username}
	</select>
	<insert id="addResourcePermissionToRole">
		INSERT
		INTO ROLE_PERMISSION
		VALUES(#{roleId},#{resourceId},#{permission})
	</insert>
	<select id="getResourcePermissionByRoleName" resultMap="ResourcePermissionMap">
		SELECT RESOURCE.NAME AS RESOURCE_NAME,PERMISSION
		FROM ROLE_PERMISSION
		INNER JOIN RESOURCE ON RESOURCE.ID=ROLE_PERMISSION.RESOURCE_ID
		INNER JOIN ROLE ON ROLE.ID=ROLE_PERMISSION.ROLE_ID
		WHERE ROLE.NAME=#{roleName}
	</select>
	<delete id="deleteResourcePermissionsByRoleId">
		DELETE
		FROM ROLE_PERMISSION
		WHERE ROLE_ID=#{roleId}
	</delete>
<select id="getResourcePermissionByRoleNamesAndResourceName" resultMap="ResourcePermissionMap">
		SELECT RESOURCE.NAME AS RESOURCE_NAME,PERMISSION
		FROM ROLE_PERMISSION
		INNER JOIN RESOURCE ON RESOURCE.ID=ROLE_PERMISSION.RESOURCE_ID
		INNER JOIN ROLE ON ROLE.ID=ROLE_PERMISSION.ROLE_ID
		WHERE RESOURCE.NAME=#{res} AND ROLE.NAME IN 
		<foreach item="item" index="index" collection="roleList"
             open="(" separator="," close=")">
        	#{item}
    	</foreach>
	</select>
	<resultMap id="ResourcePermissionMap" type="org.binyu.rbac.dtos.ResourcePermission">
		<result property="resource" column="RESOURCE_NAME" />
		<result property="permission" column="PERMISSION" />
	</resultMap>
</mapper>